html {
	font-size: 100%;
}

body {
	font-size: 0.625em;
	background-color: #eeffee;
	font-family: Arial, Helvetica, sans-serif;
}

input {
	background-color: #ddffdd;
	padding: 0.2em 1em 0.2em 0;
	margin: 0.1em 1em 0.2em 0;
	text-align: right;
}

pre {
	background-color: #dddddd;
	font-size: 1.2em;
	padding: 1em;
}

.titolo {
	margin-left: 20%;
	margin-right: 20%;
	border: #99ffee solid 0.1em;
	background-color: #deffe0;
	font-size: 2.0em;
	text-align: center;
	padding: 0.4em 0em 0.4em 0em;
	font-family: Courier;
}

/* testo is used in sniffjoke configuration page */
.testo {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #aaffbb;
	font-size: 1.2em;
	padding: 0.6em 1.6em 0.6em 1.6em;
	clear:both;
}
.testo img { width: 90%; height: auto; }
.testino { font-size: 0.7em; }

/* testo2 in sniffjoke info/help */
.testo2 {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #aaffbb;
	font-size: 1.4em;
	padding: 0.6em 1.6em 0.6em 1.6em;
}
.testo2 img { width: 90%; height: auto; }
#sfigata    { width: 50%; height: auto; }

.segment { 
	clear:both; 
	border: #deffe0 solid 0.1em; 
	margin: 0.2em 0.2em 0.2em 0.2em;
	padding 2em;
}
.segment table { 
	font-size: 0.9em;
	font-family: Courier; 
	width: 100%; 
	border: #66ffee solid 0.1em;
	text-align: center;
}
.segment td { 
	padding: 0.5em 0.5em 0.5em 0.5em; 
	border: #66ffee solid 0.1em;
	width: 30%;
	text-align: center;
}

.safari_die_shit {
	clear: both;
}

.blockr { float:left; width:70%; }
.blockl { float:left; width:30%; }
.blockl img { text-align: center; width: 60%; padding: 1em; height: auto; } 



